<form #actorForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required [(ngModel)]="model.name" name="name"
               #name="ngModel">
               <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
      </div>
      <div class="form-group">
        <label for="studio">Studio</label>
        <input type="text" class="form-control" id="studio"
               required [(ngModel)]="model.studio" name="studio" minlength="4"
               #studio="ngModel">
               <div *ngIf="(studio.invalid) && (studio.dirty || studio.touched)">
                <div *ngIf="studio.hasError('required')">
                    Studio is required.
                  </div>
                  <div *ngIf="studio.hasError('minlength')">
                    Studio must be at least 4 characters long.
                  </div>
               </div>
      </div>
      <div class="form-group">
        <label for="skill">Skills</label>
        <select class="form-control" name="skill" [(ngModel)]="model.skill" id="skill">
            <option *ngFor="let skill of skills" [value]="skill">{{skill}}</option>
        </select>
      </div>
      <button type="submit" [disabled]="actorForm.invalid">Submit!</button>
</form>
